
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.learn__lists{
    display: grid;
    row-gap: 1rem;

}
.learn__list{
    color: hsl(200, 80%, 30%);

}
.code{
    text-decoration: none;
}

.learn__container,
.javabasic{
    position: fixed;
    width: 100%;
    font-size: 2rem;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
}
